/**
 * Reset focus
 *
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex='-1']:focus {
  outline: none !important;
}

/**
 * Reset media
 *
 * Make media easier to work with for responsive styles.
 */

img,
svg {
  display: block;

  max-width: 100%;
}

img,
svg,
video,
canvas {
  height: auto;
}

/**
 * Reduce motion
 * - Remove animations when motion is reduced (opinionated).
 * - Remove fixed background attachments when motion is reduced (opinionated).
 * - Remove timed scrolling behaviors when motion is reduced (opinionated).
 * - Remove transitions when motion is reduced (opinionated).
 */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    scroll-behavior: auto !important;

    background-attachment: initial !important;

    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
  }
}

/**
 * Structure
 *
 * The main styles for html and body tags
 */

:root {
  overflow: hidden;

  box-sizing: border-box;

  font-family: 'Maple Mono NF', 'SF Mono', monospace;
  font-size: 13px;
  font-feature-settings: 'tnum';
  font-weight: 500;

  /** make tabular numbers the default */
  font-variant-numeric: tabular-nums;
  line-height: 1.6em;
  color: color-mix(in srgb, #fff 90%, transparent);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
}

html,
body,
.root {
  height: 100%;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  position: relative;

  margin: 0;
}
